<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../fonts.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
<div class="main">
    <div class="header">
        <div id="player-name" title="Player"> </div>
        <div id="metric-count" title="Hand count"> </div>
    </div>
    <div id="main-metrics" class="content">
        <div id="metric-vpip" title="VP$IP" class="metric"> </div>
        <div id="metric-pfr" title="PFR" class="metric"> </div>
        <div id="metric-af" title="AF" class="metric"> </div>
    </div>
    <div id="alt-metrics" class="content">
        <div id="metric-cbet" title="CBet" class="metric"> </div>
        <div id="metric-cbet_fold" title="Fold to CBet" class="metric"> </div>
    </div>
</div>
<script src="./index.js"></script>
</body>
