<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../fonts.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
<div class="main">
    <div class="header">
        <div id="player-name"> </div>
        <div id="metric-count"> </div>
    </div>
    <div id="main-metrics" class="content">
        <div id="metric-vpip" class="metric"> </div>
        <div id="metric-pfr" class="metric"> </div>
        <div id="metric-af" class="metric"> </div>
    </div>
    <div id="alt-metrics" class="content">
        <div id="metric-cbet" class="metric"> </div>
        <div id="metric-cbet_fold" class="metric"> </div>
    </div>
</div>
<script src="./index.js"></script>
</body>
